/* HERO IMAGE */
.fdm-innerbanner-mini {
	display: none;
	color: #fff;
}

/* HERO */
.fdm-our-mission {
	padding-top: 30px !important;
}

@media (min-width: 1200px) {
	.hero {
		width: 100vw;
		margin-left: calc((100vw - 1170px) / 2 * -1) !important;
	}
}

/* Paragraph */
.subhead {
	font-size: 24px;
	line-height: 1.5em;
	margin-bottom: 40px;
}

@media (min-width: 800px) {
	.hero-paragraph {
		margin: 0px 20px;
	}
}

/* White Button */
.white-btn {
	background: #fff;
	color: #992221;
	border-color: #fff;
	margin-bottom: 50px;
}

.white-btn:hover,
.white-btn:active {
	background: #EFEFEF;
	color: #992221;
	border-color: #EFEFEF;
}

/* NAV BAR */
@media (min-width: 320px) {
	section.fdm-header-bottombar {
			background-color: #38373E;
	}
}

/* ENTIRE SECTION */
.fdm-our-mission {
	padding-top: 100px;
}

/* ====================
	 Hubspot Form
	 ==================== */
.hs-form label {
	text-align: left;
}

.hs-form fieldset.form-columns-1,
.hs-form input[type="email"],
.hs-form input[type="text"] {
	width: 100% !important;
}

/* Featured Companies */
li.logo {
	padding: 20px;
}

/* TOP RESTAURANTS */
img.thumbnail:hover {
  box-shadow: 0 0 6px 1px #992221;
}

img.thumbnail {
	border-radius: 5px;
	border: none;
}

/* ====================
	 Stats Bar
	 ==================== */

/* Stat Numbers */
.stat-number { font-size: 65px; }

.stat-number.red { color: #992221; }

.stat-number.blue { color: #48A1D9; }

.stat-number.green { color: #1C8743; }

.stat-number.lightgreen { color: #5FBD6C; }

.stat-number.gold { color: #FEAC0E; }

/* Stat Descriptions */
.stat-description { font-size: 24px; }

.stat-description.red { color: #992221; }

.stat-description.blue { color: #48A1D9; }

.stat-description.green { color: #1C8743; }

.stat-description.lightgreen { color: #5FBD6C; }

.stat-description.gold { color: #FEAC0E; }

/* TEXT */
h1 {
	padding-bottom: 10px;
}


.larger-text { font-size: 18px; }
