.fdm-our-mission {
	padding-top: 100px;
}

h1 {
	padding-bottom: 10px;
}

p {
	margin-bottom: 0px;
}

p.white {
	color: #FFF;
}

p.faq {
	margin-bottom: 18px;
}

/* Button */
a.button.service, a.button.hollow.alert.service {
  min-width: 80%;
  text-decoration: none;
}

.button.hollow.fdm-white.red:hover,
.button.hollow.fdm-white.red:active {
	color: #fff;
	background: #83100F;
  border: 2px solid #83100F;
}

/* Column Title */
h2.product {
  padding-bottom: 6px;
}

h2.product.white {
	color: #fff;
}

/* Column Text*/
.p-callout {
  padding: 0 20px;
	padding-bottom: 10px;
}

p.hours {
	font-size: 24px;
}

.description {
	color: #fff;
}

/* Alternate Callout Heading Colors*/
.callout {
	padding: 0px;
}

.feature-callout-grey {
	background-color: #F6F6F6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px 0px;
	border-bottom: 1px solid #A2A2A2;
}

.feature-callout-red {
  background-color: #C01717;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px 0px;
}

.feature-callout-gold {
  background-color: #D4AF37;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px 0px;
}

.feature-callout-black {
  background-color: #38373E;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px 0px;
}

/* Alternate Colors Light */
.feature-callout-grey-light {
	background-color: #FFF;
  padding: 30px 0px;
}

.feature-callout-red-light {
	background-color: rgba(192,23,23,0.15);
  padding: 30px 0px;
}

.feature-callout-gold-light {
	background-color: rgba(212, 175, 55, 0.15);
  padding: 30px 0px;
}

.feature-callout-black-light {
	background-color: rgba(56,55,62,.15);
  padding: 30px 0px;
}

/* Bottom Grey Shading */
.feature-callout-grey-bottom {
	background-color: #F6F6F6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 0px;
}

/* List Features */
.list-column {
	text-align: left;
	margin-bottom: 0;
}

/* Grey Line */
hr.zero {
	margin: 0px;
}

/* Small Grey Line */
.small {
	border-bottom: 1px solid #cacaca;
	width: 30px;
}

/* Alternate Button Colors */
.button.hollow.alert.grey {
	color: #38373E;
	background-color: #FFF;
	border-color: #38373E;
	margin-bottom: 0px;
	margin-top: 0px;
}

.button.hollow.alert.red {
	color: #FFF;
	background-color: #C01717;
	border-color: #C01717;
	margin-bottom: 0px;
	margin-top: 0px;
}

.button.hollow.alert.gold {
	color: #FFF;
	background-color: #D4AF37;
	border-color: #D4AF37;
	margin-bottom: 0px;
	margin-top: 0px;
}

.button.hollow.alert.black {
	color: #FFF;
	background-color: #38373E;
	border-color: #38373E;
	margin-bottom: 0px;
	margin-top: 0px;
}

/* Alternate Button Colors HOVERS */
.button.hollow.alert.grey:hover,
.button.hollow.alert.grey:active {
	color: #38373E;
	background-color: #EFEFEF;
	border-color: #38373E;
	margin-bottom: 0px;
	margin-top: 0px;
}

.button.hollow.alert.red:hover,
.button.hollow.alert.red:active {
	color: #FFF;
	background-color: #A60D0D;
	border-color: #A60D0D;
	margin-bottom: 0px;
	margin-top: 0px;
}

.button.hollow.alert.gold:hover,
.button.hollow.alert.gold:active {
	color: #FFF;
	background-color: #C28F21;
	border-color: #C28F21;
	margin-bottom: 0px;
	margin-top: 0px;
}

.button.hollow.alert.black:hover,
.button.hollow.alert.black:active {
	color: #FFF;
	background-color: #212125;
	border-color: #212125;
	margin-bottom: 0px;
	margin-top: 0px;
}

.fdm-partnerus {
	padding-top: 14px;
}
