.fdm-innerbanner-mini {
	display: none;
}

@media (min-width: 320px) {
	section.fdm-header-bottombar {
			background-color: #38373E;
	}
}

.fdm-our-mission {
	padding-top: 0px;
}

a.button.large {
	min-width: 200px;
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
}

.hs-form label {
	text-align: left;
}

.hs-form fieldset.form-columns-1,
.hs-form input[type="email"],
.hs-form input[type="text"] {
	width: 100% !important;
}


@media (min-width: 1200px) {
	.hero {
		background-color: #F4F4F4;
		width: 100vw !important;
		margin-left: calc((100vw - 1170px) / 2 * -1) !important;
	}

	.hero-text {
		max-width: 1200px !important;
		margin: auto !important;
	}
}

@media (max-width: 1100px) {
	.hero-padding {
		padding-left: 40px;
	}
}

/* Hero Section */

.plan {
	color: #C01717;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 24px;
}

.plan-head {
	line-height: 1.3em;
	font-size: 54px;
}

.plan-subhead {
	color: #ffffff;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.button.plan {
	color: #FFF;
	background-color: #C01717;
	border: 2px solid #C01717;
	margin: 25px 0px;
	min-width: 0px !important;
}

.button.plan:hover,
.button.plan:active {
	background-color: #A60D0D;
	border: 2px solid #A60D0D;
}

.button.hollow.plan-h {
	color: #FFF;
	border: 2px solid #FFF;
	margin: 25px 0px;
	width: 100%;
	min-width: 0px !important;
}

@media (min-width: 1000px) {
	.feature-img {
		width: auto !important;
		margin-left: calc((100vw - 1170px) / 2 * -1) !important;
	}

	.heading-two {
		margin-top: 120px;
		margin-bottom: 40px;
	}

	.compare-all-bottom {
		margin-bottom: 120px;
	}

	.description-para {
		padding: 0px 15%;
		margin-top: 50px;
	}

	.bottom-hero {
		margin-top: 100px;
	}
}

@media (max-width: 1000px) {
	.hide-second-banner {
		background: transparent !important;
	}
}

/* List Items */
.check-green {
	font-size: 26px;
	color: #60BD6C;
}

.list-styling {
	margin-bottom: 20px;
	font-size: 20px;
}

/* Feature Images */
.featured-images {
	height: 80px;
}


@media screen and (min-width: 48em) {
	.medium-4 {
		margin-bottom: 60px;
	}
}

.stat-grey {
	text-transform: uppercase;
	font-size: 16px;
}

.stat-bold {
	font-size: 24px;
	color: #C01717;
}

.features-paragraph {
	font-size: 18px;
	margin-bottom: 80px;
}

.features-heading {
	font-size: 24px;
}

.fdm-partnerus {
	padding-top: 0px !important;
}
